.jumbotron {
		background-color: darkgreen; color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: white;
background-color: greenyellow;
border-color: black;
}

img {width: 250px}